.field {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin: 14px 0;
}
label {
  font-weight: 600;
  font-size: 16px;
}
input {
  padding: 8px;
  font-family: Poppins;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgb(224, 224, 224, 0.6);
  outline: none;
  font-size: 14px;
  transition: all ease-in 200ms;
}
input:focus {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.05);
}
.error {
  color: rgba(253, 6, 6, 0.902);
  font-size: 12px;
}
.error-input {
  border: 1px solid rgba(253, 6, 6, 0.902);
  box-shadow: 1px 1px 5px 1px rgba(253, 6, 6, 0.1);
}
