<div class="field">
  <label>{{ label }}</label>
  <input
    [type]="type"
    [formControl]="control"
    [ngClass]="{ 'error-input': showErrors() }"
  />

  <ng-container *ngIf="showErrors()">
    <div class="error" *ngIf="control.errors.required">
      <p>{{ label }} is required</p>
    </div>
    <div class="error" *ngIf="control.errors.minlength">
      <p>
        {{ label }} should have more than
        {{ control.errors.minlength.requiredLength }}
        characters
      </p>
    </div>
    <div class="error" *ngIf="control.errors.email">
      <p>Email Required</p>
    </div>
    <div class="error" *ngIf="control.errors.maxlength">
      <p>
        {{ label }} shouldn't exceed
        {{ control.errors.maxlength.requiredLength }}
        characters
      </p>
    </div>
    <div class="error" *ngIf="control.errors.pattern">
      <p>{{ label }} shouldn't consist of any special characters</p>
    </div>
    <div class="error" *ngIf="control.errors.emailNotUnique">
      <p>Email Already In Use</p>
    </div>
  </ng-container>
</div>
