<div class="container">
  <h1 class="heading">SignIn</h1>
  <form (ngSubmit)="onSubmit()" class="form" [formGroup]="authForm">
    <app-input
      label="Email"
      type="email"
      [control]="authForm.get('email')"
    ></app-input>
    <app-input
      [label]="'Password'"
      type="password"
      [control]="authForm.get('password')"
    ></app-input>
    <div class="not-match" *ngIf="showErrors()">
      <p *ngIf="authForm.errors.notFound">User Not Found</p>
      <p *ngIf="authForm.errors.noConnection">
        No Internet Connection, Please try again later
      </p>
      <p *ngIf="authForm.errors.unknownError">
        Failed to SignIn, Please try again later
      </p>
    </div>
    <button [disabled]="authForm.invalid" class="auth-btn" type="submit">
      Signin
    </button>
    <a [routerLink]="['/', 'signup']" class="signup"
      >Don't have an Acount? Create an Accont</a
    >
  </form>
</div>
