:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .box {
    margin-top: 25px;
  }
}

@media screen and (max-width: 800px) {
  .box {
    width: 100%;
  }
}
